<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>hall</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <style>
        #room-wrap{
            background:rgba(255,255,255,.1);
            padding:10px;
        }
        .room{
            height:40px;
            line-height: 40px;
            padding:0 10px;
            white-space : nowrap;/*不换行*/
            overflow:hidden;
            text-overflow:ellipsis;/*隐藏内容前加上省略号*/
            border-radius: 3px;
            /*border-bottom: 1px #009688 solid;*/
        }
        .room:hover{
            cursor:pointer;
            background:#009688;
        }
        .room .creator{
            font-size:smaller;
            color:#bbb
        }
        #chat-content{
            overflow-y:hidden;
        }
        #chat-content p{
            margin:0 5px 5px;
            font-size:13px;
        }
        #chat-content p .chat-head{
            margin-left:-5px;
        }
        #chat-content pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size:13px;
        }
    </style>
</head>
<body class="layui-bg-cyan my-body-fix-top my-scroll">
<ul class="layui-nav layui-bg-green my-nav-fix-top">
    <li class="layui-nav-item"><a><img height="40" src="/static/img/favicon.png"/></a></li>
    <li class="layui-nav-item layui-this"><a href="#">大厅</a></li>
    <li class="layui-nav-item" th:if="${token}"><a th:href="@{/game/room}">房间</a></li>
</ul>
<div class="layui-container" style="margin-top:10px;">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm8 layui-col-lg9">
            <div id="room-wrap" >
                <div  style="margin-bottom: 10px;">
                    <label class="layui-form-label my-input-sm my-color-yellow" for="input-player-name"
                           style="padding: 0 10px;">玩家名字</label>
                    <div class="layui-input-inline">
                       <input id="input-player-name" type="text" name="room-title" maxlength="10"
                              class="layui-input layui-bg-gray my-input-sm" th:value="${session.playerName}">
                    </div>
                    <div class="layui-btn layui-btn-primary layui-btn-sm"
                         id="btn-player-name" style="padding: 0 20px;">修改</div>
                    <div class="layui-btn layui-btn-warm layui-btn-sm" title="刷新房间"
                         id="btn-refresh-room" style="float: right">
                        <i class="layui-icon">&#x1002;</i>刷新房间
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm4 layui-col-lg3 layui-bg-green" id ="chat-wrap"
             style="position: relative;">
            <div id="chat" style="padding:15px 5px 0 10px;">
                <div class="" id="chat-content">
                    <p>
                        <span class="layui-bg-gray chat-head">[系统信息]:</span>
                        获取聊天服务器...
                    </p>
                </div>
            </div>
            <div style="width:95%;position: absolute;left:3%;bottom:45px;">
                <div class="layui-input-inline" style="width:70%;">
                    <input id="input-message" type="text" placeholder="回车发送消息" title="回车发送消息"
                           class="layui-input my-input-xs"/>
                </div>
                <button class="layui-btn layui-btn-primary layui-btn-xs"
                        id="btn-send" style="width:25%">发送</button>
            </div>
            <button class="layui-btn layui-btn-danger" id="btn-create-room"
                    style="width:100%;position: absolute;left:0;bottom:0;">创建房间</button>
        </div>
    </div>
</div>
<div id="create-room-panel" hidden>
    <div class="layui-bg-cyan" style="padding: 20px 10px;height:120px;width:400px">
        <form class="layui-form layui-form-pane form-create-room" action="">
            <div class="layui-form-item layui-bg-gray" pane="">
                <label class="layui-form-label ">房间标题</label>
                <div class="layui-input-block">
                    <input type="text" name="room-title" placeholder="" class="layui-input layui-bg-gray">
                </div>
            </div>
            <div class="layui-form-item layui-bg-gray" pane="">
                <label class="layui-form-label  ">游戏大小</label>
                <div class="layui-input-block">
                    <input type="radio" name="room-size" value="3" title="3x3">
                    <input type="radio" name="room-size" value="5" title="5x5">
                    <input type="radio" name="room-size" value="7" title="7x7">
                </div>
            </div>
            <div class="layui-form-item" hidden>
                <label class="layui-form-label layui-bg-gray">密码(可选)</label>
                <div class="layui-input-block">
                    <input type="password" name="room-password" placeholder="" class="layui-input layui-bg-gray">
                </div>
            </div>
        </form>
        <div class="my-bg-error"></div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/plugin/layui/layui.js"></script>
<script src="/static/js/mysocket.js"></script>
<script>
    //调整布局
    var height1;
    var height2;
    var gap =0;
    if(window.innerWidth<=768){
        height1 = 0.5*window.innerHeight;
        height2 = 0.35*window.innerHeight;
    }else{
        height1 = window.innerHeight-100;
        height2 = window.innerHeight-120;
        gap = "10px";
    }
    $("#room-wrap").css({
        'min-height':(height2)+'px',
        'margin-right':gap
    });
    $("#chat-wrap").height(height1);
    $("#chat-content")
        .height(height1-90)
        .bind('DOMNodeInserted', function() {
            this.scrollTop = this.scrollHeight;
            var $this = $(this);
            if(1.5*$this.height()<this.scrollHeight){
                $this.find("p").eq(0).remove();
            }
        });
</script>
<script>
    //聊天服务器
    var mysocket;
    $.get("/game/hall/chattarget",function(e){
        mysocket = new MyWebSocket(e.data,{
            onerror:function () {
                setErrorInfo("发生错误");
            },
            onmessage:function (event) {
                setMessage(event.data);
            },
            onclose:function(){
                setSystemInfo("与服务器断开连接");
                $('#btn-send').text('重新连接');
            },
            onopen:function(){
                $('#btn-send').text('发送');
            }

        });
    });
    function setSystemInfo(message){
        setMessage("<span class=\"layui-bg-gray chat-head\">[系统信息]:</span> " + message);
    }
    function setErrorInfo(message){
        setMessage("<span class=\"my-bg-error chat-head\">[系统信息]: " + message+"</span>");
    }
    function setMessage(message) {
        $('#chat-content').append('<p>'+message+'</p>');
    }

</script>
<script>
    $(function(){
        //聊天消息监听回车发送消息
        var $message = $("#input-message").keypress(function(e) {
            // 回车键事件
            if(e.which === 13) {
                $('#btn-send').click();
            }
        });
        //发送消息
        $('#btn-send').click(function(){
            //
            if(mysocket.websocket.readyState===WebSocket.CLOSED){
                mysocket.reconnect();
            }else if(mysocket.websocket.readyState===WebSocket.OPEN){
                mysocket.send($message.val());
                $message.val(null);
            }
        });
        //修改玩家名
        $("#btn-player-name").click(function(){
            var $input = $("#input-player-name");
            var playerName = $input.val().substring(0,20);
            $.post('/game/setplayername',{data:playerName},function(e){
                $input.val(e.data);
                if(e.errmessage){
                    alert(e.errmessage)
                }else{
                    mysocket.reconnect(mysocket.websocket.url.replace(/[^\/]+$/,e.data))
                }
            })

        });
        function joinRoom(roomId) {
            $.post('/game/joinroom?room-id='+roomId,function(msg){
                if(msg.errmessage){
                    alert(msg.errmessage)
                }else{
                    window.location.href='/game/room'
                }
            })
        }
        function refreshRoom(callback){
            //随机参数 防止IE浏览器缓存数据导致无法刷新
            $.get('/game/hall/rooms?t='+Math.random(),function(roomList){
                // if(!roomList || !roomList.length){
                //     if(callback) callback();
                //     return;
                // }
                var $roomWrap = $('#room-wrap');
                $roomWrap.find('.room').remove();
                for(var i=0;i<roomList.length;i++){
                    var room = roomList[i];
                    var roomHtml =[
                        '<div class="room" id="'+room.id+'" title="点击加入房间">',
                            room.message+'&emsp;',
                            '<span class="creator">创建者 '+room.creator+' </span>',
                        '</div>'
                    ].join('');
                    $roomWrap.append(roomHtml);
                }
                $('.room').click(function(){
                    joinRoom($(this).attr('id'));
                });
                if(callback) callback();
            })
        }
        //刷新房间
        $("#btn-refresh-room").click(function(){
            var $icon = $(this).find('.layui-icon').addClass('layui-anim layui-anim-rotate layui-anim-loop');
            refreshRoom(function(){
                setTimeout(function(){
                    $icon.removeClass('layui-anim layui-anim-rotate layui-anim-loop')
                },1000);
            });
        });
        refreshRoom();
    });
</script>
<script>
    var form;
    layui.use('form',function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        //弹出 创建房间
        layui.use('layer', function() {
            var layer = layui.layer;

            $('#btn-create-room').click(function(){
                layer.open({
                    type: 1
                    ,title: '创建房间'
                    ,closeBtn: false
                    ,area: ['auto','auto']
                    ,shade: 0.8
                    ,id: 'layer-create-room' //设定一个id，防止重复弹出
                    ,btn: ['确定', '关闭']
                    ,btnAlign: 'c'
                    ,content: $('#create-room-panel').html()
                    ,yes: function(){
                        var $layer =$('#layer-create-room');
                        $.post('/game/createroom?',$layer.find('.form-create-room').serialize(),function(e){
                            console.log(e);
                            if (e.errmessage){
                                $layer.find('.my-bg-error').text(e.errmessage);
                            }else{
                                layer.closeAll();
                                window.location.href='/game/room';
                            }
                        });
                    }
                });
                form.render();
            });
        });
    });

</script>
</body>
</html>