<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>hall</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <style>
        #room-wrap{
            background:rgba(255,255,255,.1);
            padding:10px;
        }
        .room{
            height:40px;
            line-height: 40px;
            padding:0 10px;
            white-space : nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            border-radius: 3px;
            /*border-bottom: 1px #009688 solid;*/
        }
        .room:hover{
            cursor:pointer;
            background:#009688;
        }
        .room .creator{
            font-size:smaller;
            color:#bbb
        }
        #chat-content{
            overflow-y:hidden;
        }
        #chat-content p{
            margin:0 5px 5px;
            font-size:13px;
        }
        #chat-content p .chat-head{
            margin-left:-5px;
        }
        #chat-content pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size:13px;
        }
    </style>
</head>
<body class="layui-bg-cyan my-body-fix-top my-scroll">
<ul class="layui-nav layui-bg-green my-nav-fix-top">
    <li class="layui-nav-item"><img height="40" src="/static/img/favicon.png"/></li>
    <li class="layui-nav-item layui-this"><a href="">大厅</a></li>
</ul>
<div class="layui-container" style="margin-top:10px;">
    <div class="layui-bg-red" style="margin-bottom: 10px;padding: 5px;" th:if="${session.gameToken}">
        已在房间中
        <a class="my-a" th:href="@{/game/room}">点击进入</a>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs6 layui-col-sm8 layui-col-lg9" style="padding-right:10px">
            <div></div>
            <div id="room-wrap" >

                <div class="room">
                    呵呵哈哈哈！
                    <span class="creator">创建者 哈哈哈哈 </span>
                </div>
                <div class="room">
                    hahahahaha！
                    <span class="creator">创建者 哈哈哈哈 </span>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3 layui-bg-green" id ="chat-wrap"
             style="position: relative;">
            <div id="chat" style="padding:15px 5px 0 10px;">
                <div class="" id="chat-content">
                    <p>
                        <span class="layui-bg-gray chat-head">[系统信息]:</span>
                        获取聊天服务器...
                    </p>
                </div>
            </div>
            <div style="width:95%;position: absolute;left:3%;bottom:45px;">
                <div class="layui-input-inline" style="width:70%;">
                    <input id="input-message" type="text" title="发送信息"
                           class="layui-input my-input-xs"/>
                </div>
                <button class="layui-btn layui-btn-primary layui-btn-xs"
                        id="btn-send" style="width:25%">发送</button>
            </div>
            <button class="layui-btn layui-btn-danger" id="btn-create-room"
                    style="width:100%;position: absolute;left:0;bottom:0;">创建房间</button>
        </div>
    </div>
</div>
<div id="create-room-panel" hidden>
    <div class="layui-bg-cyan" style="padding: 20px 10px;height:120px;">
        <form class="layui-form layui-form-pane form-create-room" action="">
            <div class="layui-form-item">
                <label class="layui-form-label layui-bg-gray">房间标题</label>
                <div class="layui-input-block">
                    <input type="text" name="room-title" placeholder="" class="layui-input layui-bg-gray">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-bg-gray">密码(可选)</label>
                <div class="layui-input-block">
                    <input type="password" name="room-password" placeholder="" class="layui-input layui-bg-gray">
                </div>
            </div>
        </form>
        <div class="my-bg-error"></div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/plugin/layui/layui.js"></script>
<script>
    //调整布局用js
    var height = window.innerHeight;
    $("#chat-wrap").height(height-100);
    $("#chat-content")
        .height(height-200)
        .bind('DOMNodeInserted', function() {
            this.scrollTop = this.scrollHeight;
            var $this = $(this);
            if(1.5*$this.height()<this.scrollHeight){
                $this.find("p").eq(0).remove();
            }
        });
    $("#room-wrap").css('min-height',(height-120)+'px');
</script>
<script>
    //聊天服务器
    var websocket;
    // var target;
    $.post("/game/hall/chattarget",function(e){
        initWebSocket(e.data);
    });

    function initWebSocket(url){
        var target = url;
        if('WebSocket' in window){
            if(websocket){
                websocket.close();
            }
            websocket = new WebSocket(target);
            //连接发生错误的回调方法
            websocket.onerror = function(){
                setErrorInfo("");
            };
            //连接成功建立的回调方法
            websocket.onopen = function(event){

            };
            //接收到消息的回调方法
            websocket.onmessage = function(event){
                setMessage(event.data);
            };
            //连接关闭的回调方法
            websocket.onclose = function(){
                setSystemInfo("与服务器断开连接");
                setTimeout(function(){
                    setSystemInfo("正在尝试重新连接..");
                    initWebSocket(target);
                },1000);
            }
        }
        else{
            setErrorInfo("浏览器不支持Websocket,请升级！");
            alert('浏览器不支持Websocket,请升级！');
        }
    }
    var $message = $("#input-message").keypress(function(e) {
        // 回车键事件
        if(e.which === 13) {
            $('#btn-send').click();
        }
    });
    $('#btn-send').click(function(){
        websocket.send($message.val());
        $message.val(null);
    });
    function setSystemInfo(message){
        setMessage("<span class=\"layui-bg-gray chat-head\">[系统信息]:</span> " + message);
    }
    function setErrorInfo(message){
        setMessage("<span class=\"my-bg-error chat-head\">[错误]: " + message+"</span>");
    }
    function setMessage(message) {
        $('#chat-content').append('<p>'+message+'</p>');
    }
    window.onbeforeunload = function(){
        if(websocket){
            websocket.close();
        }
    };
</script>
<script>
    layui.use('layer', function() {
        var $ = layui.jquery, layer = layui.layer;

        $('#btn-create-room').click(function(){
            layer.open({
                type: 1
                ,title: '创建房间'
                ,closeBtn: false
                ,area: ['400px','auto']
                ,shade: 0.8
                ,id: 'layer-create-room' //设定一个id，防止重复弹出
                ,btn: ['确定', '关闭']
                ,btnAlign: 'c'
                ,content: $('#create-room-panel').html()
                ,yes: function(){
                    // var btn = layero.find('.layui-layer-btn');
                    // btn.find('.layui-layer-btn0').attr({
                    //     href: 'http://www.layui.com/'
                    //     ,target: '_blank'
                    // });
                    var $layer =$('#layer-create-room');
                    $.post('/game/createroom?',$layer.find('.form-create-room').serialize(),function(e){
                        console.log(e);
                        if (e.errmessage){
                            $layer.find('.my-bg-error').text(e.errmessage);
                        }else{
                            layer.closeAll();
                        }
                    });
                }
            });
        });
    });
</script>
</body>
</html>