<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>room</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body class="layui-bg-cyan my-body-fix-top my-scroll">
<ul class="layui-nav layui-bg-green my-nav-fix-top">
    <li class="layui-nav-item"><a><img height="40" src="/static/img/favicon.png"/></a></li>
    <li class="layui-nav-item"><a href="./hall">大厅</a></li>
    <li class="layui-nav-item layui-this"><a href="#">房间</a></li>
</ul>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/plugin/layui/layui.js"></script>
</body>
</html>